@import "./function";

@keyframes infiniteRotate {
  to {
    transform: rotate(360deg);
  }
}

@mixin infiniteRotate {
  animation: infiniteRotate 1s infinite linear;
}

/************ 页面过度动画  ***************/
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active,
.slide-bottom-enter-active,
.slide-bottom-leave-active {
  will-change: transform;
  transition: all 300ms;
}

.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.slide-right-leave-to {
  opacity: 0;
}

.slide-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.slide-left-leave-to {
  opacity: 0;
}

.slide-bottom-enter,.slide-bottom-leave-to {
  transform: translateY(100%);
}

.slide-bottom-leaver,.slide-bottom-enter-to {
  transform: translateY(0);
}

/*   砍价进图条东湖   */
@keyframes progress-move {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(100%);
  }
}

/*  倒计时动画  */
@keyframes dateDrop {
  from {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
  }

  to {
    opacity: 0;
    transform: translateY(100%) rotateZ(20deg);
  }
}

/* 弹框动画 */
.6bouceIn-enter-to,.bouceIn-leave {
  transform: scale(1);
}

.bouceIn-enter,.bouceIn-leave-to {
  transform: scale(0);
}

.bouceIn-enter-active,.bouceIn-leave-active {
  transition: all cubic-bezier(0.04, 0.73, 0.38, 1.17) 0.3s;
}

/* 列表显示动画 */
// 地址列表动画
.address-list-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.address-list-enter-to {
  opacity: 1;
  transform: translateX(0);
}

.address-list-leave-to {
  height: 0;
  opacity: 0;
  transform: translateX(-100%);
}

.address-list-leave {
  height: vw(208);
  opacity: 1;
  transform: translateX(0);
}

.address-list-leave-active {
  transition: all ease 0.3s;
}

$show-list-transition-quick-time: (
  (time: 0.2 + (0.05 * 1)),
  (time: 0.2 + (0.05 * 2)),
  (time: 0.2 + (0.05 * 3)),
  (time: 0.2 + (0.05 * 4)),
  (time: 0.2 + (0.05 * 5)),
  (time: 0.2 + (0.05 * 6)),
  (time: 0.2 + (0.05 * 7)),
  (time: 0.2 + (0.05 * 8)),
  (time: 0.2 + (0.05 * 9)),
  (time: 0.2 + (0.05 * 10))
);

$show-list-transition-slow-time: (
  (time: 0.7 + (0.1 * 1)),
  (time: 0.7 + (0.1 * 2)),
  (time: 0.7 + (0.05 * 3)),
  (time: 0.7 + (0.05 * 4)),
  (time: 0.7 + (0.05 * 5)),
  (time: 0.7 + (0.05 * 6)),
  (time: 0.7 + (0.05 * 7)),
  (time: 0.7 + (0.05 * 8)),
  (time: 0.7 + (0.05 * 9)),
  (time: 0.7 + (0.05 * 10))
);

// 普通列表动画

/* 右左偏移 */
.list-toRight-enter {
  opacity: 0;
  transform: translateX(-50%);
}

.list-toRight-enter-to，.list-toRight-leave {
  opacity: 1;
  transform: translateX(0);
}

.list-toRight-leave-to {
  opacity: 0;
  transform: translateX(50%);
}

/* 向做偏移 */
.list-toLeft-enter {
  opacity: 0;
  transform: translateX(50%);
}

.list-toLeft-enter-to,.list-toLeft-leave {
  opacity: 1;
  transform: translateX(0);
}

.list-toLeft-leave-to {
  opacity: 0;
  transform: translateX(-50%);
}

/* 淡入 */
.list-fade-enter {
  opacity: 0;
}

.list-fade-enter-to,.list-fade-leave {
  opacity: 1;
}

.list-fade-leave-to {
  opacity: 0;
}

@for $i from 1 through length($show-list-transition-quick-time) {
  $item: nth($show-list-transition-quick-time, $i);
  
  .address-list-enter-active:nth-child(n + #{$i}) {
    transition: all ease #{map_get($item, time)}s;
  }
  
  .list-toRight-enter-active:nth-child(n + #{$i}) {
    transition: all ease #{map_get($item, time)}s;
  }
  
  .list-toLeft-enter-active:nth-child(n + #{$i}) {
    transition: all ease #{map_get($item, time)}s;
  }

  .list-fade-enter-active:nth-child(n + #{$i}) {
    transition: all ease #{map_get($item, time)}s;
  }
}

@for $i from 1 through length($show-list-transition-slow-time) {
  $item: nth($show-list-transition-slow-time, $i);

  .list-fade-enter-active:nth-child(n + #{$i}) {
    transition: all ease #{map_get($item, time)}s;
  }
}

/* 组件左右切换动画 */
.toRight-enter,.toRight-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

.toRight-enter-to,.toRight-leave {
  opacity: 1;
  transform: translateX(0);
}

.toRight-leave-active,.toRight-enter-active {
  transition: all linear 0.2s;
}

.toLeft-enter,.toLeft-leave-to {
  opacity: 0;
  transform: translateX(100%);
}

.toLeft-enter-to,.toLeft-leave {
  opacity: 1;
  transform: translateX(0);
}

.toLeft-leave-active,.toLeft-enter-active {
  transition: all linear 0.2s;
}
